/* Commentaire en CSS */
/* feuille de style  */

/* Syntaxe du langage de développement CSS */

/*
selecteur {
    propriété: valeur ;
}

*/

/*Je sélectionne deux élement en même temps avec une virgule (,) */
p, pre{
    color: blue;
}

span{
    color: green;
}

h4{
    background-color: greenyellow;
    text-align: center;
}