body{
    background-color: black;/*La couleur du fond du corp de la page*/
    text-align: center;/**/
}

h1{
    color: cadetblue; /*la couleur des balises <h1> en cadetblue*/
    text-transform: uppercase;/*Transforme le texte des balises en majuscules*/
    
}

h2{
    color: antiquewhite;
    font-style: italic;/*Donner un style italique aux texte*/
}

img{
    width: 500px; /*Definit la largeur des images a 500px */
    height: 400px;/*Definit la hauteur des images a 500px */
    border-style: solid;/*Definit le style de la bordure comme etant solide*/
    border-width: 5px;/*Définit la largeur de la bordure a 5px*/
    border-color: deeppink;/*Définit la couleur de la bordure comme deeppink*/

    border: groove 5px azure; /*Il existe une syntaxe alternative pour définir le style,la largeur et la couleur de la bordure en une seul ligne*/
    border-radius: 1% 10% 25% 50%;
    /*border-radius: 15%; arrondit tout les coins de l'image a 15% */
    margin-right: 50px; /*on ajoute une marge à droite de l'image de 50px. Cela crée de l'espace entre l'image et d'autres éléments voisins sur le coté droit*/



    /* 
    La propriété CSS margin est utilisée pour définir l'espace autour d'un élément. Elle contrôle l'espace entre les bords de l'élément et les éléments voisins. Elle peut prendre jusqu'à quatre valeurs  qui définissent l'espace autour de l'élément dans l'ordre suivant : haut, droite, bas, gauche.
    La sytaxe est =>  margin: top right bottom left;

    - margin: 10px;  marge de 10 pixels sur tous les côtés 
    - margin: 10px 20px; marge de 10 pixels en haut/bas, 20 pixels à gauche/droite 
    - margin: 10px 20px 30px; marge de 10 pixels en haut, 20 pixels à gauche/droite, 30 pixels en bas 
    - margin: 10px 20px 30px 40px; marge de 10 pixels en haut, 20 pixels à droite, 30 pixels en bas, 40 pixels à gauche 


    */

}

figcaption,p {
    color: blueviolet;
}

div{
   height: 1000px;
   background-image: url(../img/tir-couper-souffle-belles-pierres-sous-eau-turquoise-lac-collines-arriere-plan.jpg);/*Definit l'image de fond*/
   background-repeat: no-repeat;/*Empeche la repetition de l'image de fond*/
   background-size: cover;/*Ajuster la taille de l'imagede fond pour couvrir l'ensemble de l'élément*/

   padding: 50px;/*Ajoute une marge interne (espace interieur de 50px à l'élément)*/
   margin: 50px;/*Ajoute une marge externe (espace extérieur de 50px à l'élément)*/
}

div p {
    background-color: rgba(5, 19, 21, .6);
    padding: 50px;
    border-radius: 25px;
}


/* style pour la classe nommé "imageCheval" */
.imageCheval{
    transition: 1s; /* la propriété transition permet de spécifier une transition animée entre les états d'un éléments */
}

.imageCheval:hover{
    /* la propriété transform avec la fonction scale(), permet de modifier l'echelle d'un elements en modifiants sa taille. La fonction scale() prend un argument, qui est le facteur d'échelle */
    transform: scale(1.1);/* Agrandit l'éléments à 110% de sa taille d'origine */    
}


/* style pour la classe nommé "imageDauphin" */
.imageDauphin{
    display: block; /* Définit l'affichage de l'éléments en tant que block */
    margin: 15px auto;
    transition: transform 1s;
}

.imageDauphin:hover{
    transform: rotate(-10deg);/* Fait tourner l'image de -10 degrèes lorsqu'elle est survolée */
}