* 
section {
 width:50% ;
 margin: 100px auto;
 }


 *{
 box-sizing : border-box;
 text-decoration : none;
}


#zoning1{
 display: flex;
 flex-wrap: wrap;
 background-color:#ffd6d6 ;
 text-align: center;
}

h3{
 width: 100%;
}

#zoning1 header {
 background-color:#F7F39A ;
 width: 100%;
}
#zoning1 aside, #zoning1 section{
 height: 500px;
 line-height: 500px;
}

#zoning1 aside{
background-color: #10828C;
width: 20%;

}

#zoning1 section{
background-color:#A0B08B ;
width: 80%;
margin: 0;
}
/*********************************Exercice 3**/

#zoning2 {
background-color: #ffd6d6;
 text-align: center;

}

#zoning2 header{
 background-color: teal;
 height: 70px;
line-height: 70px;
}

#zoning2 div{
    display: flex;
}

#zoning2 aside {
    background-color: tomato;
    height: 500px;
    line-height: 500px;
    width: 20%;
}

#zoning2 div div {
height: 500px;
line-height: 500px;
width: 60%;
}

#zoning2 div div p{
    width: 100%;
}
